<clr-header class="header-6">
  <div class="branding">
    <div class="nav-link">
      <cds-icon shape="flag" status="warning" routerLink="/welcome"></cds-icon>
      <span class="title" routerLink="/welcome">Checkline</span>
    </div>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a *permissionIf="['RUNNER_MODIFY']" class="nav-link nav-text" routerLink="/scanner" [ngClass]="{'active':this.currTab=='/scanner'}">Scanner</a>
    <a *permissionIf="['RUNNER_LIST','RUNNER_MODIFY']" class="nav-link nav-text" routerLink="/dashboard" [ngClass]="{'active':this.currTab=='/dashboard'}" >Runners Dashboard</a>
    <a *permissionIf="['RUNNER_CONSPICOUS']" class="nav-link nav-text" routerLink="/runner-conspicous" [ngClass]="{'active':this.currTab =='/runner-conspicous'}">Runners Conspicous</a>
    <a *permissionIf="['RUNNER_SELF_OVERVIEW']" class="nav-link nav-text" routerLink="/runner-overview" [ngClass]="{'active':this.currTab=='/runner-overview'}">My statistics</a>
    <a *permissionIf="ADMIN_PERMISSIONS" class="nav-link nav-text" routerLink="/admin" [ngClass]="{'active':this.currTab=='/admin'}">Administration</a>
    <a *permissionIf="['CENGINE_ADMIN']" class="nav-link nav-text" routerLink="/system" [ngClass]="{'active':this.currTab=='/system'}">System</a>
  </div>
  <div class="header-actions header-actions--overflow" *ngIf="username!=undefined">
    <clr-dropdown  id="userMenu">
      <button clrDropdownTrigger>
        {{this.username}}
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a clrDropdownItem routerLink="/settings">Settings</a>
        <a clrDropdownItem (click)="logout()">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
