<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="true" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Create new Group</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="form">
      <div class="alert alert-danger" *ngIf="error!=undefined">
        <div class="alert-items">
          <div class="alert-item static" role="alert">
            <div class="alert-icon-wrapper">
              <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
            </div>
            <span class="alert-text">
        {{error}}
      </span>
          </div>
        </div>
      </div>

      <clr-input-container>
        <label>Name</label>
        <input clrInput formControlName="groupname" type="text" />
        <clr-control-error *clrIfError="'required'">Group name required</clr-control-error>
      </clr-input-container>
    </form>

  </div>
  <div  class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onOk()">Create Group<clr-spinner clrInline="true" *ngIf="spinner"></clr-spinner></button>
  </div>
</clr-modal>



