<h2>Runners - Conspicous</h2>


<clr-datagrid>
  <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
  <clr-dg-column [clrDgField]="'state'">State</clr-dg-column>
  <clr-dg-column [clrDgField]="'lastStateChange'">Last state change</clr-dg-column>
  <clr-dg-column [clrDgField]="'round'">Rounds</clr-dg-column>
  <clr-dg-column [clrDgField]="'timestamp'">Last round change</clr-dg-column>
  <clr-dg-column [clrDgField]="'station'">Station</clr-dg-column>

  <clr-dg-row *clrDgItems="let runner of (runners$ |async)!!" [clrDgItem]="runner" >
    <clr-dg-cell>{{runner.username}}</clr-dg-cell>
    <clr-dg-cell>{{runner.state ? runner.state: "-"}}</clr-dg-cell>
    <clr-dg-cell>{{runner.lastStateChange |date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{runner.round||0}}
    </clr-dg-cell>
    <clr-dg-cell>{{runner.timestamp |date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{runner.station ? runner.station: "-"}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Runners per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>