<div class="clr-row" id="tablezone">
  <div class="clr-col" *permissionIf="['CENGINE_LISTUSERS','CENGINE_MODIFYUSERS']">
      <h2>Users</h2>


    <clr-datagrid [(clrDgSingleSelected)]="selectedUser">
      <clr-dg-action-bar *permissionIf="['CENGINE_MODIFYUSERS']">
        <div class="btn-group">
          <button type="button" class="btn btn-sm" (click)="onUserEdit()" [disabled]="selectedUser == null">
            <cds-icon shape="pencil"></cds-icon> Edit
          </button>
          <button type="button" class="btn btn-sm  btn-danger-outline btn-secondary" (click)="this.openUserDelete = true; element= selectedUser.loginName" [disabled]="selectedUser == null" >
            <cds-icon shape="trash"></cds-icon> Delete
          </button>
        </div>

        <button type="button" class="btn btn-sm btn-secondary" *permissionIf="['CENGINE_MODIFYUSERS']" (click)="onNewUserClick()">
          <cds-icon shape="plus"></cds-icon> Add
        </button>

        <button type="button" class="btn btn-sm btn-secondary" (click)="onUserRefresh()">
          <cds-icon shape="refresh"></cds-icon> Refresh
        </button>
      </clr-dg-action-bar>

      <clr-dg-column [clrDgField]="'loginName'">Username</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'firstname'">First name</clr-dg-column>
      <clr-dg-column [clrDgField]="'groups'">Groups</clr-dg-column>

      <clr-dg-row *clrDgItems="let user of users$" [clrDgItem]="user" >
        <p>{{user}}</p>
        <clr-dg-cell>{{user.loginName}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.firstname}}</clr-dg-cell>
        <clr-dg-cell>{{user.groups}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>

  <div class="clr-col" *permissionIf="['CENGINE_LISTGROUPS','CENGINE_MODIFYGROUPS']">
    <h2>Groups</h2>
    <clr-datagrid [(clrDgSingleSelected)]="selectedGroup">
      <clr-dg-action-bar *permissionIf="['CENGINE_MODIFYGROUPS']">
        <div class="btn-group">
          <button type="button" class="btn btn-sm" (click)="onGroupEdit()" [disabled]="selectedGroup == null">
            <cds-icon shape="pencil"></cds-icon> Edit
          </button>
          <button type="button" class="btn btn-sm  btn-danger-outline btn-secondary" (click)="this.openGroupDelete = true; element= selectedGroup.name" [disabled]="selectedGroup == null" >
            <cds-icon shape="trash"></cds-icon> Delete
          </button>
        </div>

        <button type="button" class="btn btn-sm btn-secondary" *permissionIf="['CENGINE_MODIFYGROUPS']" (click)="onNewGroup()">
          <cds-icon shape="plus"></cds-icon> Add
        </button>

        <button type="button" class="btn btn-sm btn-secondary" (click)="onGroupRefresh()">
          <cds-icon shape="refresh"></cds-icon> Refresh
        </button>
      </clr-dg-action-bar>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'permissions'">Permissions</clr-dg-column>

      <clr-dg-row *clrDgItems="let group of groups$ " [clrDgItem]="group">
        <clr-dg-cell>{{group.name||""}}</clr-dg-cell>
        <clr-dg-cell>{{group.permissions||""}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Groups per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
</div>

<!-- MODALS -->
<clr-modal [(clrModalOpen)]="openUserDelete" [clrModalClosable]="true" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Question</h3>
  <div class="modal-body">
    <p>Do you want to delete the User {{element}}?</p>
  </div>
  <div  class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onUserCancel()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onUserDelete()">Delete</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openGroupDelete" [clrModalClosable]="true" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Question</h3>
  <div class="modal-body">
    <p>Do you want to delete the Group {{element}}?</p>
  </div>
  <div  class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onGroupCancel()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onGroupDelete()">Delete</button>
  </div>
</clr-modal>
