<div id="loginForm">
  <h1>Login</h1>

  <form clrForm [formGroup]="form" (ngSubmit)="submit()">
    <p *ngIf="error!=undefined" style="color: red">{{error}}</p>
    <clr-input-container>
      <label>Username</label>
      <input clrInput formControlName="username" type="text" />
      <clr-control-error *clrIfError="'required'">Username Required</clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label>Password</label>
      <input clrInput formControlName="password" type="password" />
      <clr-control-error *clrIfError="'required'">Password Required</clr-control-error>
    </clr-input-container>

    <button class="btn">Login <clr-spinner clrInline="true" *ngIf="spinner"></clr-spinner></button>
  </form>
</div>

