<div class='AdminRegiCon1'><a class=TextHB>Admin erstellen</a></div>
<div class = "dropdownRegi">
  <p class= "TxTAdminRegister">Name</p>
  <input #name type='text' id='name' class='EingabeHB'>
  </div>
<div class = "dropdownRegi">
  <p class= "TxTAdminRegister">Passwort</p>
  <input  #password type='text' id='password' class='EingabeHB' >
  </div>
<div class = "dropdownRegi">
  <p class= "TxTAdminRegister">Sicherheitstufe</p>
  <select #levels id='level' class='SelectHB'>
    <option value='000' id="wait">Bitte Warten</option>
    </select>
  </div>
<div class = "dropdownRegi2">
  <input #okay type='button' value='Okay' class='NormButton'>
  <input #abort type='button' value='Abbrechen' onclick='Toolbar.abort()' class='NormButton'>
  </div>
