<div class=hotbar id="hotbar">
  <li><a class=TextHB id="title">Dashboard</a></li>
  <li class = "dropdown">
    <button class="dropbtn ispolasolyltoolslyladmin ispolasolyltoolslylschueler ispolasolyltoolslylimport ispolasolyltoolslylexport" style="visibility: hidden">Management</button>
    <div class="dropdown-content">
      <!--<a href="#">Optionen</a>-->
      <p class="toolbarbutton ispolasolyltoolslyladmin" style="visibility: hidden"><button #admin id="regAd">Admin registrieren</button></p>
      <p class="toolbarbutton ispolasolyltoolslylschueler" style="visibility: hidden"><button #addStudent id="susr">Läufer/-in registrieren</button></p>
      <p class="toolbarbutton ispolasolyltoolslylimport" style="visibility: hidden"><button #importStudent>Läufer importieren</button></p>
      <p class="toolbarbutton ispolasolyltoolslylexport" style="visibility: hidden"><button id="export">Daten exportieren</button></p>
    </div>
  </li>
  <li class = "dropdown">
    <button class="dropbtn">Anwendungen</button>
    <div class="dropdown-content">
      <a href="dashboard.html">Dashboard</a>
      <a href="client.html">Scanner</a>
    </div>
  </li>
  <li class = "dropdown"  style="float: right">
    <button  id="profil" class="dropbtn">user</button>
    <div class="dropdown-contentR">
      <p class="toolbarbutton"><input type="button" value="Ausloggen" onclick="logout()"></p>
    </div>
  </li>
</div>
