@charset "UTF-8";

:root {
	--main-color: #860111;
	--second-color: #242424;
	--font:"Arial";
}


.li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropbtn {
	background-color:var(--second-color);
	display: block;
	text-align: center;
	decoration: none;
	padding: 14px 8px;
	border:none;
	color: white;
	font-family: var(--font);
	-webkit-border-radius:0;
	-webkit-appearance: none;
}

.li a:hover, .dropdown:hover, .dropbtn:hover, .li button:hover, .dropdownRegi:hover, .dropdownRegi2:hover{
  background-color: var(--main-color);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content, .dropdown-contentR {
  display: none;
  position: absolute;
  background-color: var(--second-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.dropdown-content {
	min-width: 160px;
}
.dropdown-contentR {
	right: 0;
}
.dropdown-contentR input {
	float: right;
}
.dropdown-content a, .dropdown-content button, .dropdown-contentR input {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  decoration: none;
  border:none;
  font-family: var(--font);
  font-size: 15px;
  -webkit-border-radius:0;
  -webkit-appearance: none;
}

.dropdown-content a:hover , .toolbarbutton:hover, .dropdown-content button:hover, .dropdown-contentR input:hover {
	background-color: #f1f1f1;
	color:var(--main-color);
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-contentR {
  display: block;
}


.container {
	min-height: 99vh;
	max-width: 100%;
	position: relative;
}
.content-wrap {
	margin-bottom: -7%;
}
.header { background-color: var(--main-color); max-width:100%; max-height:40px;
		padding: 0.5%;
		padding-bottom: 6%;
		margin-bottom: 0.5%;
		font-size:30px;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		vertical-align:middle;

}

.content { max-width:100%;
	padding:1% 0.5% 2%;
	margin:0.5% 0% 4%;

}
.content2 { max-width:100%;
	padding:0.5%;
	margin-top: 2%;
}
.hotbar{ background:var(--second-color); max-width:100%;
	position: -webkit-sticky;
	position: sticky;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.Footer { background:var(--second-color); max-width:100%; max-height:12%;
		width: 99%;
		padding: 0.5%;
		padding-bottom: 2%;
		padding-top: 2%;
		font-size:15px;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		vertical-align: middle;
		float: bottom;
		text-align: center;
		position: relative;
		bottom: 0;
}

.content3 { max-width:100%; height:90%;
	padding:0.5%;
	margin-top: 2%;
}


input[type=button]:active {
	outline: none;
}

input[type=password], .EingabeLogin {
	border: 2px solid;
	border-color: var(--second-color);
	color: var(--second-color);
    border-radius: 2px 2px;
	padding: 10px 5px;
	width: 110px;
	outline: none;
	-webkit-border-radius:0;
	-webkit-appearance: none;
}


input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus, select:hover, select:focus, .EingabeLogin:hover{
	border-color: var(--main-color);
}

.GreyButton  {
	color: white;
    border: 2px solid;
	border-color: var(--second-color);
	outline: none;
	background-color: var(--second-color);
	-webkit-border-radius:0;
	-webkit-appearance: none;
	border-radius: 0.2px 0.2px;
	font-family: var(--font);
}

.GreyButton:hover {
	background-color: white;
	cursor: pointer;
	transition-duration: 0.5s;
	color:var(--second-color);
	border-color: var(--main-color);
	z-index: 1;
}
.NormButton, .ButtonDB, .ButtonDB2, .ButtonDB3 {
	color: white;
    border: 2px solid;
	border-color: var(--second-color);
	outline: none;
	background-color: var(--main-color);
	-webkit-border-radius:0;
	-webkit-appearance: none;
	border-radius: 0.2px 0.2px;
	padding: 10px 14px;
	font-family: var(--font);
}

.NormButton:hover, .ButtonDB:hover, .ButtonDB2:hover, .ButtonDB3:hover {
	background-color: white;
	cursor: pointer;
	transition-duration: 0.5s;
	color:var(--second-color);
	border-color: var(--main-color);
	z-index: 1;
}

.EingabeDB, .EingabeScanM, .EingabeHB {
	border: 2px solid;
	border-color: var(--second-color);
	color: var(--second-color);
    border-radius: 2px 2px;
	padding: 10px 5px;
	outline: none;
	-webkit-border-radius:0;
	-webkit-appearance: none;
	font-family: var(--font);
}
.EingabeDB, .EingabeScanM {
	width: 110px;
}

.SelectDB, .SelectHB {
	border: 2px solid;
    border-radius: 2px 2px;
	padding: 10px 5px;
	outline: none;
	-webkit-border-radius:0;
	-webkit-appearance: none;
	font-family: var(--font);
	border-color: var(--second-color);
	color: var(--second-color);
}

.SelectHB {
	background: white;
}

/*Ab hier alphabetisch*/
@media all and (orientation:portrait) {

	.EingabeDB {
		width:20%;
		height:10%;
		font-size: 120%;
		text-align:center;
	}
	.SelectDB {
		padding: 4.6% 9.5% 4.6% 1%;
		font-size: 120%;
	}
	.DBGruppe {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		padding: 6px 0px 10px 0px;
		width: 25%;
	}
	.DBGruppe3 {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		padding: 6px 0px 10px 0px;
		height: 10%;
	}
	.DBGruppe2 {
		display: inline-flex;
		position: relative;
		vertical-align: middle;
		width: 49.5%;
	}
	.ButtonDB2 {
		display: block;
		width:100%;
		height: 5%;
		font-size: 150%;
	}
	.ButtonDB {
		width:100%;
		height: 5%;
		font-size: 150%;
	}
	.ButtonDB3 {
		width:100%;
		height: 100%;
		font-size: 150%;
	}
	.login{
	font-size:30px;
	}
	.HinweisNR{
	font-size:20px;
	}
	.ManuellEin {
		font-size: 20px;
	}
	.dropbtn {
		font-size: 15px;
	}

	.EingabeScanM {
		width: 95%;
		height: 15%;
		font-size: 20px;
		padding: 1% 1%;
	}
	.TxtManuell {
		width: 10%;
	}
	.GreyButton{
		width: 15%;
		font-size: 15px;
		padding: 1.5% 0.2% 1.5% 0.2%;
	}

	div.dropdownRegi {
  		width: 99%;
	}
	.TxTAdminRegister {
		display: inline-flex;
		font-size: 120%;
		padding-left: 2%;
		padding-right: 1%;
	}
	.EingabeHB {
		vertical-align: middle;
		width: 75%;
		height: 5%;
		float: right;
		font-size: 120%;
	}
	.SelectHB {
		width: 75%;
		height: 5%;
		float: right;
		font-size: 120%;
	}
	.AdminRegiCon1 {
		padding: 1% 30% 5% 1%;
	}
}
@media all and (orientation:landscape) {
	.Anmeldung {
		text-align: left;
		display: inline-block;
		position: relative;
	}
	.Anmeldung2 {
		display: inline-block;
	}
	.DBGruppe, .DBGruppe2, .DBGruppe3 {
		text-align: left;
		display: inline-block;
		position: relative;
	}
	.ButtonDB2 {
		margin-left:-8px;
	}


	.login{
	font-size:20px;
	}
	.HinweisNR{
	font-size:15px;
	}
	.ManuellEin {
		font-size: 15px;
	}
	.ManuellEinCon {
		display: inline-block;
	}
	.TxTManuell {
		display: inline-block;
	}
	.GreyButton {
		padding: 10px 14px;
	}

	div.dropdownRegi {
  		display: inline-block;
	}
	.TxTAdminRegister {
		font-size: 15px;
	}
	.EingabeHB {
		width: 110px;
	}
	.dropdownRegi2 {
		float: right;
		display: inline-block;
		vertical-align: bottom;
	}
}

.Admin_iframe {
	font-size:2vw;
	font-family: var(--font);
	color: var(--main-color);
	margin-bottom:2%;
	text-align: center;
	width: 50%;
}

.Allgemein{
	text-align: center;
	width: 90%;
}
.Anmeldung {
		decoration: none;
		border:none;
		color: white;
		font-family: var(--font);
		-webkit-border-radius:0;
		-webkit-appearance: none;
		text-decoration: none;
	}
.ButtonAdminReg {
	max-width: 60px;
	color: white;
  text-decoration: none;
  display: block;
  padding-right: 35px;
  decoration: none;
  border:none;
  font-family: var(--font);
  -webkit-border-radius:0;
  -webkit-appearance: none;
  float: right;
}

.Fehlermeldung{
	font-size:3vw;
	line-height:0.75;
	color: var(--main-color);
	font-family: var(--font);
	vertical-align:middle;
}

.Grau {
	font-size:3vw;
	line-height:0.75;
	color: var(--second-color);
	font-family: var(--font);
	vertical-align:middle;
}
.Grau2 {
	font-size:1vw;
	line-height:0.75;
	color: var(--second-color);
	font-family: var(--font);
	vertical-align:top;
	margin-top:-2%;

}

.HinweisNR{
		min-height: 20px;
		min-width: 50%;
		text-align: left;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		padding-left: 1%;
		padding-right: 1%;
		background-color: var(--main-color);
		border-radius: 10px;
	}
iframe {
	border-color: var(--main-color);
	border: 2px solid;
	outline: none;
	border-radius: 4px;
}

.iFrame {
	font-size:2vw;
	font-family: var(--font);
	color: var(--main-color);
	margin-bottom:2%;
}
.iFrameA {
	font-size:2vw;
	font-family: var(--font);
	color: var(--main-color);
	margin-bottom:2%;
}
.iFrameV {
	text-align: left;
	font-size:2vw;
	font-family: var(--font);
	color: var(--main-color);
	margin-bottom:-4%;
}
.InputRegi {
	padding: 2vh 1vw 2vh;
	text-align: left;
	width:45%;
}

.login{
	font-family: var(--font);
	color: var(--main-color);
	margin-bottom: -0%;
}

.login2{
	padding-top:2%;
}

.ManuellEin{
		min-height: 20px;
		min-width: 50%;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		padding: 1% 1% 1% 1%;
		background-color: var(--main-color);
		border-radius: 10px;
}

.ScanLogs{
		max-height: 10%;
		min-width: 50%;
		text-align: left;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		padding-left: 1%;
		padding-right: 1%;
		background-color: var(--second-color);
		border-radius: 10px;
		overflow-y: scroll;
	}
.ScanLogTxT {
	width: 100px;
}

.TextHB {
		font-size:20px;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		vertical-align:middle;
		float: left;
		padding: 1% 1% 1% 1.5%;
		font-weight: Bold;
}

.TextHB {
	padding-top: 10px;
	padding-left: 8px;
	font-family: var(--font);
	font-weight: Bold;
}

.Titel {
	text-align: center;
	margin-bottom:-1%
}
table {
	border-collapse: collapse;
	margin-top:2%;

}

table, td, th {
	border: 1px solid var(--second-color);
	color: #242424;
}
.TabUS {
	font-family: var(--font);
	color: var(--main-color);
}

.TitelTabl {
	margin: 3% 0% 0%;
}
.TxTAdminRegister {
		text-align: center;
		line-height:0.75;
		color: white;
		font-family: var(--font);
		vertical-align:top;
		font-family: var(--font);
}

.Unten{
	background-color: var(--second-color);
	text-align: center;
	decoration: none;
	border:none;
	font-family: var(--font);
	text-decoration: none;
	color: white;
	position: relative;
	padding: 0.5%;
}
