<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="true" [clrModalStaticBackdrop]="false" >
  <h3 class="modal-title">Edit user {{this.username}}</h3>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="error!=undefined">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
        {{error}}
      </span>
        </div>
      </div>
    </div>

    <div class="alert alert-success" *ngIf="ok">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
          </div>
          <span class="alert-text">
        Successfully changed password
      </span>
        </div>
      </div>
    </div>
    <form clrForm [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <clr-input-container>
        <label>Change Password</label>
        <input clrInput formControlName="password" type="password" />
        <clr-control-error *clrIfError="'required'">Password Required</clr-control-error>
      </clr-input-container>

      <button class="btn">Change password <clr-spinner clrInline="true" *ngIf="passwordSpinner"></clr-spinner></button>
    </form>

    <h3>Groups</h3>

    <clr-datagrid>
      <clr-dg-column [clrDgField]="'group'">Groups</clr-dg-column>
      <clr-dg-column>
        Actions
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let group of groups " >
        <clr-dg-cell>{{group}}</clr-dg-cell>
        <clr-dg-cell>
          <button type="button" class="btn btn-icon btn-danger btn-sm" aria-label="trash" (click)="this.removeGroup(group)">
            <cds-icon shape="trash"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Groups per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

    <div class="alert alert-danger" *ngIf="groupError!=undefined">
      <div class="alert-items">
        <div class="alert-item static" role="alert">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
        {{groupError}}
      </span>
        </div>
      </div>
    </div>

    <form clrForm [formGroup]="permissionForm" (ngSubmit)="addGroup()">
      <clr-input-container>
        <label>Add group</label>
        <input clrInput formControlName="permission" type="text" />
        <clr-control-error *clrIfError="'required'">Group required</clr-control-error>
      </clr-input-container>

      <button class="btn">Add Group <clr-spinner clrInline="true" *ngIf="spinnerPem"></clr-spinner></button>
    </form>

  </div>
  <div  class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onOk()">Close</button>
  </div>
</clr-modal>
