<!DOCTYPE html>
<html>
<head>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
            font-family: 'Montserrat', sans-serif;
        }

        h1 {
            font-size: 95px;
        }

        h4 {
            margin-top: 540px;
            font-size: 80px;
        }
        img {
            margin-top: -50px;
            height: 200px;
            width: 200px;
        }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body class="content">
    <div style="text-align: center; display: flex; justify-content: center;">
        <h1>Checkline</h1>
        <img src="<%=image%>"></div>
        <h2 style="text-align: center; height: 120px"><%=username%></h2>
    </div>
</body>
</html>
